{% extends 'layout.html' %}

{% block body %}
	<div class="jumbotron text-center">
		<h1>Welcome To PatientApp</h1>
		<p class="lead">List of Patients</p>
		<a href="../register" class="btn btn-primary" role="button">Register</a>
		<a href="../login" class="btn btn-success" role="button">Login</a>
		
	
		
	</div>
	
<h2>List of Patients</h2>
{% if result %}

<table class="table table-dark">
	<tr>
	<th>Id</th>
	<th>Name</th>
	<th>Email</th>
	<th>Sex</th>
	<th>Age</th>
	<th>Location</th>
	<th>Blood Type</th>
	
	</tr>
	{% for par in result %}
	<tr>
		<td>{{par.patient_id}}</td>
		<td>{{par.name}}</td>
		<td>{{par.email}}</td>
		<td>{{par.sex}}</td>
		<td>{{par.age}}</td>
		<td>{{par.current_location}}</td>
		<td>{{par.bloodtype}}</td>
		<td><a href="patient_details/{{par.patient_id}}" class="btn btn-primary" role="button">Patient Details</a></td>
		<td><a href="/web/patient/delete/{{par.patient_id}}" class="btn btn-warning" role="button">Delete</a> </td>
	</tr>
	
	{%endfor%}
	
	<tr>
		<td id="count" colspan="7">{{result|count}} : Participants Fetched</td>
	</tr>
	
	
</table>

{%endif%}

{% endblock %}