{% extends 'layout.html' %}

{% block body %}
	<div class="jumbotron text-center">
		<h1>Welcome To PatientApp</h1>
		<p class="lead">Built from using the Python Flask Framework</p>
		
		
		<a href="register" class="btn btn-primary" role="button">Register</a>
		<a href="login" class="btn btn-success" role="button">Login</a>
		
	
		
	</div>
	
<h2>List of Patients</h2>
{% if result %}

<table class="table table-dark">
	<tr>
	<th>Id</th>
	<th>Name</th>
	<th>Email</th>
	<th>Sex</th>
	<th>Age</th>
	<th>Location</th>
	<th>Blood Type</th>
	
	</tr>
	{% for par in result %}
	<tr>
		<td>{{par.patient_id}}</td>
		<td>{{par.name}}</td>
		<td>{{par.email}}</td>
		<td>{{par.sex}}</td>
		<td>{{par.age}}</td>
		<td>{{par.current_location}}</td>
		<td>{{par.bloodtype}}</td>
	</tr>
	
	{%endfor%}
	
	<tr>
		<td id="count" colspan="7">{{result|count}} : Participants Fetched</td>
	</tr>
	
	
</table>
<!-- 
<form id="par-reg-form" method="POST" action="./employees/register">
<table>
	<tr>
		<td><input name="empno" placeholder="Employee Id:" id="empno"></td>
		<td><input name="name" placeholder="Name:" id="name"></td>
		<td><input name="salary" placeholder="Salary:" id="salary"></td>
		<td><input name="mode" type ="hidden" value="web"></td>
		
		<td><input id="add-emp" type="submit" value="Add"></td>
	</tr>

</table>
</form>
-->
{%endif%}

{% endblock %}