{% extends 'layout.html' %}

{% block body %}
	<div class="jumbotron text-center">
		<h1>Welcome To PatientApp</h1>
		<p class="lead">Built from using the Python Flask Framework</p>
		
		
		<a href="../register" class="btn btn-primary" role="button">Register</a>
		<a href="../login" class="btn btn-success" role="button">Login</a>
		
	
	</div>
<h2>Medical Reports for Patient Number {{result.pid}}:</h2>
{% if result.reports %}
	
<table class="table table-dark">
	<tr>
	<th>Id</th>
	<th>Date</th>
	<th>Duration</th>
	<th>Reasoning</th>
	<th>Notes</th>
	<th>Attending Doctor</th>
	<th>Patient Information</th>
	</tr>
	{% for rep in result.reports %}
	<tr>
		<td>{{rep.report_id}}</td>
		<td>{{rep.date}}</td>
		<td>{{rep.duration}}</td>
		<td>{{rep.reason_for_admission}}</td>
		<td>{{rep.notes}}</td>
		<td>{{rep.attending_doctor}}</td>
		<td><a href="../patients" class="btn btn-primary" role="button">View</a> </td>
		<td><a href="/web/report/delete/{{rep.report_id}}" class="btn btn-warning" role="button">Delete</a></td>
		

	{%endfor%}
	
	{%endif%}
	
	<form id="rep-form" method="POST" action="../insert-report">
<table>
	<tr>
		<td><input name="date" placeholder="Date:" id="date"></td>
		<td><input name="duration" placeholder="Duration:" id="duration"></td>
		<td><input name="reason" placeholder="Reasoning:" id="reason"></td>
		<td><input name="notes" placeholder="Notes:" id="notes"></td>
		<td><input name="doctor" placeholder="Attending Dr:" id="doctor"></td>
		<td><input name="patient_id" type ="hidden" value={{result.pid}}></td>
		<td><input name="mode" type ="hidden" value="web"></td>
		
		
		<td><input id="add-rep" type="submit" value="Add"></td>
	</tr>

</table>
</form>
		
{% endblock %}